In [4]:
"""Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple 
What will be the data type of the above given variable.
"""

'Q1. Create one variable containing following type of data:\n(i) string\n(ii) list\n(iii) float\n(iv) tuple \nWhat will be the data type of the above given variable.\n'

In [2]:
a = " vinod"

In [3]:
type(a)

str

In [4]:
b=[2,3,4,5,"sudh",3+7j,45.40,True]

In [5]:
type(b)

list

In [6]:
c= 34.45

In [7]:
type(c)

float

In [10]:
d =((1,2),'python',(34.56,40))

In [3]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1. """

'Q2. Given are some following variables containing data:\n(i) var1 = ‘ ‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1. '

In [15]:
var1="vand"

In [16]:
type(var1)

str

In [17]:
var2='[DS,ML,Python]'

In [18]:
type(var2)

str

In [19]:
var3 =['DS','ML','Python']

In [20]:
type(var3)

list

In [21]:
var4=1

In [22]:
type(var4)

int

In [5]:
"""Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** """

'Q3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) ** '

In [27]:
1/4

0.25

In [28]:
1%4

1

In [29]:
1//4

0

In [30]:
2**3

8

In [6]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.'

In [1]:
a =[2,3,4,5,6,'vin',"sudh",True,4+5j,23.50]

In [2]:
type(a)

list

In [3]:
a=[2,3,4,5,6,'vin',"sudh",True,4+5j,23.50]
for i in a:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'float'>

In [4]:
a=[2,3,4,5,6,'vin',"sudh",True,4+5j,23.50]
for i in a :
    print (i)

2
3
4
5
6
vin
sudh
True
(4+5j)
23.5

In [1]:
""" Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

' Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [2]:
A= int(input())
B=int(input())
count=0
while A%B==0:
    A=A//B
    count +=1
if count > 0:
    print(f"{B} is factor of {A} and can divide {A} {count} times")
else:
          print(f"B is not factor of {A}")

 25
 5

5 is factor of 1 and can divide 1 2 times

In [8]:
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [9]:
for num in my_list :
    if  num %3==0:
        print( f"{num}is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24is divisible by 3
25 is not divisible by 3

In [8]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

'Q7. What do you understand about mutable and immutable data types? Give examples for both showing\nthis property.'

In [1]:
f=[1,2,3,4]

In [2]:
f[0]

1

In [3]:
f[0]=8

In [4]:
f

[8, 2, 3, 4]

In [5]:
s=(1,2,3,4)

In [6]:
s[0]

1

In [7]:
s[0]=2

TypeError: 'tuple' object does not support item assignment